<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button size="small"></ion-back-button>
    </ion-button>
    <ion-title>Bife à Milanesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Ingredientes</h3>
  <p>500g de patinho (ou peito de frango), cortado em bifes finos</p>
  <p>1 colher (sopa) de MAGGI® Gril</p>
  <p>2 ovos batidos</p>
  <p>1 pitada de sal</p>
  <p>1 pitada de pimenta-do-reino</p>
  <p>meia xícara (chá) de farinha de trigo</p>
  <p>2 xícaras (chá) de farinha de rosca</p>

  <h3>Mode de Preparo</h3>
  <p>1.  Em um recipiente, coloque os ovos e tempere com o sal e a pimenta-do-reino. Reserve.</p>
  <p>2.  Em outro recipiente, tempere os bifes com o MAGGI Gril e passe-os, um a um, pela farinha de trigo, ovos reservados e farinha de rosca novamente. Repita o processo com todos os bifes.</p>
  <p>3.  Em uma frigideira grande, aqueça óleo e frite os bifes, deixando-os totalmente cobertos pelo óleo.</p>
  <p>4.  Escorra-os em papel absorvente e sirva a seguir.</p>
</ion-content>