<!--<ion-backdrop [visible]="true"></ion-backdrop>-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button size="small"></ion-back-button>
    </ion-button>
    <ion-title>Arroz à Grega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h3>Ingredientes</h3>
    <p>2 colheres (sopa) de óleo</p>
    <p>1 pimentão verde pequeno em tirinhas finas</p>
    <p>1 pimentão vermelho pequeno em tirinhas finas</p>
    <p>1 cenoura em tirinhas finas</p>
    <p>1 xícara (chá) de uvas-passas</p>
    <p>1 cebola picada</p>
    <p>1 dente de alho picado</p>
    <p>2 xícaras (chá) de arroz lavado e escorrido</p>
    <p>4 xícaras (chá) de água fervente</p>
    <p>3 tabletes de MAGGI Caldo Galinha</p>

    <h3>Mode de Preparo</h3>
    <p>1.  Em uma panela, aqueça meia colher (sopa) de óleo e refogue os pimentões e a cenoura, mexendo sempre, até que comecem a amolecer.</p>
    <p>2.  Junte as uvas-passas e reserve.</p>
    <p>3.  Em uma panela média, aqueça o restante do óleo e refogue a cebola e o alho até que estejam transparentes.</p>
    <p>4.  Junte o arroz e refogue muito bem até ficar brilhante.</p>
    <p>5.  Adicione a água fervente, os tabletes de MAGGI Caldo, mexa delicadamente, abaixe o fogo e deixe cozinhar por cerca de 15 minutos, com a panela parcialmente tampada.</p>
    <p>6.  Na metade do cozimento, adicione o refogado reservado e misture delicadamente. Tampe a panela e termine o cozimento até que o arroz esteja seco e macio.</p>
    <p>7.  Retire do fogo e deixe descansar por aproximadamente 5 minutos com a panela tampada. Sirva.</p>
</ion-content>