<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="logo-ionic" size="large" color="primary" slot="start"></ion-icon>
    <ion-title>
        Cozinhando em Casa
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Exemplo imagem
<ion-img
  src="https://docs-demo.ionic.io/assets/madison.jpg"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
>
</ion-img>
-->

<ion-content class="principal">
  <ion-card color="secondary" class="ion-padding" routerLink="/receita-detalhes">
    <ion-title>Arroz à grega</ion-title>
  </ion-card>
  <ion-card color="secondary" class="ion-padding" routerLink="/receita-detalhes-bife-milanesa">
    <ion-title>Bife à milanesa</ion-title>
  </ion-card>
  <ion-card color="secondary" class="ion-padding" routerLink="/receita-detalhes-espetinho-coracao">
    <ion-title>Espetinho de coração</ion-title>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>App Exemplo Curso Ionic-4 - Alura</ion-title>
  </ion-toolbar>
</ion-footer>
