<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button size="small"></ion-back-button>
    </ion-button>
    <ion-title>Espetinho de Coração</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Ingredientes</h3>
  <p>1 suco de meio limão</p>
  <p>1 quilo de coração de galinha</p>
  <p>1 colher (sopa) de MAGGI® Gril</p>

  <h3>Mode de Preparo</h3>
  <p>1.  Limpe os corações em água, retirando o excesso de gordura. Tempere com o suco de limão e o MAGGI Gril.</p>  
  <p>2.  Deixe tomar gosto por cerca de 30 minutos.</p>  
  <p>3.  Disponha os corações em espetinhos para churrasco e leve-os à churrasqueira, até dourarem.</p>  
</ion-content>